@model FridgePZ.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPattern.BarCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPattern.BarCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPattern.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPattern.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPattern.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPattern.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPattern.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPattern.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPattern.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPattern.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPattern.LongLife)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPattern.LongLife)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPattern.CategoryItemPattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPattern.CategoryItemPattern.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemPatternId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>