@model IEnumerable<FridgePZ.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HowMuchLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
           

            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HowMuchLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Decrease" asp-route-id="@item.ItemId"><button type="button" class="btn btn-secondary btn-danger" >-</button></a>
                    
                </div>
            </td>
            
        </tr>
}
    </tbody>
</table>
