@model IEnumerable<FridgePZ.Models.Item>

@{
    ViewData["Title"] = "Status";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPattern.ItemPatternId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelf.Name)
            </td>

        </tr>
}
    </tbody>
</table>
