@model IEnumerable<FridgePZ.Models.Itempattern>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="limiter">
    <div class="table100 ver5 m-b-110">
            <table data-vertable="ver5" width: 100%>
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column2" data-column="column2">
                            @Html.DisplayNameFor(model => model.BarCode)
                        </th>
                        <th class="column100 column2" data-column="column2">
                            @Html.DisplayNameFor(model => model.Unit)
                        </th>
                        <th class="column100 column3" data-column="column3">

                            @Html.DisplayNameFor(model => model.Size)
                        </th>
                        <th class="column100 column4" data-column="column4">

                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="column100 column7" data-column="column7">
                            @Html.DisplayNameFor(model => model.LongLife)
                        </th>
                        <th class="column100 column8" data-column="column8">
                            @Html.DisplayNameFor(model => model.CategoryItemPattern)
                        </th>
                        <th class="column100 column9" data-column="column9">
                            Photo
                        </th>
                        <th class="column100 column10" data-column="column10></thclass=" column100></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row100">
                            <td class="column100 column2" data-column="column2">
                                @Html.DisplayFor(modelItem => item.BarCode)
                            </td>
                            <td class="column100 column2" data-column="column2">
                                @Html.DisplayFor(modelItem => item.Unit)
                            </td>
                            <td class="column100 column3" data-column="column3">
                                @Html.DisplayFor(modelItem => item.Size)
                            </td>
                            <td class="column100 column4" data-column="column4">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column100 column7" data-column="column7">
                                @Html.DisplayFor(modelItem => item.LongLife)
                            </td>
                            <td class="column100 column8" data-column="column8">
                                @Html.DisplayFor(modelItem => item.CategoryItemPattern.Name)
                            </td>
                            <td class="column100 column9" data-column="column9">
                                <img src="/images/@Html.DisplayFor(modelItem => item.PhotoName)" width="60" />
                            </td>
                            <td class="column100 column10" data-column="column10">
                                <a asp-action="Edit" asp-route-id="@item.ItemPatternId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ItemPatternId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ItemPatternId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

