@model IEnumerable<FridgePZ.Models.Categoryitempattern>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopingFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopingFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notification.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryItemPatternId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryItemPatternId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryItemPatternId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
